<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container text-center" style="margin-top: 150px;">
<h2>

    This password generator was made by <a href="https://www.linkedin.com/in/kamil-pierzchala-635b6b69/" target="_blank">Kamil Pierzchała </a><br>

</h2>

<br> <br> <br>
<h2>
    <a href="https://github.com/joshasgard/Password-Generator.git" target="_blank" class="btn btn-dark">
        <b>Source Code</b>   
    </a>

    <a href="{% url 'home' %}" class="btn btn-secondary">
        <b>Home</b>
    </a>

    <a href="https://www.linkedin.com/in/kamil-pierzchala-635b6b69/" target="_blank" class="fa fa-linkedin-square" style="font-size:48px">
        <b></b>   
    </a>

</h2>
<br> <br> <br> <br> <br> <br>

<h5>

    Copyright &copy; 2023

</h5>

</div>