<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<body style="background-color:E2C3BD">


<div class="container text-center" style="margin-top: 150px;">
    <h1>
        Great! here is your new password:
    </h1>
    <br>
    <h2 class = "alert alert-success"> {{ password }}</h2>

</p>

<br> 
 
<h3>
    Thanks for using my password generator !
</h3>

<br> <br> <br>

<a href="{% url 'home' %}" class="btn btn-info" role="button" style= "margin-bottom: 0px;">
Home
</a>


<a href="{% url 'about' %}" class="btn btn-primary" role="button">
About
</a>
</div>

</body>

